*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI';
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    display: inline;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

nav {
    display: inline;
}

header {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
}

footer {
    background-color: #BF7631;
}

button {
    background-color: #BF7631;
    color: #FFFFFF;
    border: none;
    padding: 10px;
}

.orange-text {
    color: #BF7631;
}

.large-line {
    border-top: 3px solid #000000;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    display: block;
}

.partial-line-span {
    width: 60%;
}

.header-content {
    display: flex;
    height: 90px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.search-image {
    height: 20px;
    object-fit: contain;
}

.logo-image {
    height: 40px;
    object-fit: contain;
}

.center-item-vertically {
    display: flex;
    align-items: center;
}

.stack-bottom {
    display: flex;
    z-index: 1;
}

.stack-second {
    display: flex;
    z-index: 2;
}

.position-right {
    position: relative;
    right: 20px;
}

.section-header {
    padding-top: 120px;
    padding-bottom: 20px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.horizontal-container {
    display: flex;
    justify-content: space-evenly;
}

.horizontal-container-justify-between {
    display: flex;
    justify-content: space-between;
}

.about-text-padding {
    padding-top: 40px;
}

.large-about-image {
    height: 600px;
    object-fit: contain;
}

.small-about-image {
    height: 400px;
    object-fit: contain;
}

.products-grid {
    display: grid;
    grid-template-areas: "top-l top top-r" "mid-l mid mid-r" "bot-l bot bot-r";
    justify-content: space-around;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: 400px;
}

.product-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.product-actions {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-social-media-logo {
    height: 60px;
    object-fit: contain;
}

.hundred-percent-image {
    width: 100%;
    object-fit: contain;
}